.header-image {
  background-image: url('https://vignette.wikia.nocookie.net/es.starwars/images/4/4e/ObiWanHS-SWE.jpg/revision/latest?cb=20120125222904');
  background-size: cover;
}
.mat-card{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.mat-card-image{
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}