<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>Obi-Wan Kenobi</mat-card-title>
    <mat-card-subtitle>Jedi Master</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image class='mat-card-image' src="http://pa1.narvii.com/6425/5b8237a93ffcbfa3d8498daac23c2d16e84e966a_00.gif"
    alt="Photo of Obi Wan">
  <mat-card-content>
    <p>
      <strong>Obi-Wan Kenobi,</strong> later known as Ben Kenobi during his exile, was a Force-sensitive Jedi Master
      who served the Galactic Republic. He was a mentor and close friend to both Anakin Skywalker and his son, Luke,
      training them in the ways of the Force.
    </p>
  </mat-card-content>
</mat-card>